<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/base.css">

    <meta name="description" content="The Pain Agency: personal website of Joseph Winkie hosting various free and open source services!" />
    <meta
        name="keywords"
        content="joseph winkie, pain agency, matrix server hosting, xmpp server hosting, tech enthusiast, digital freedom, communication services, web development, personal hosting, tech community, open by request servers, media upload limit, dendrite matrix, technology abuse, plain html, evelyn beatrice hall, voltaire, legal terms hosting, contact platforms tech, innovative tech projects, server configuration, free speech hosting, simple web design, tech support contact, scambaiting, personal tech blog"
    />
    <meta
        name="robots"
        content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
    />
    <meta property="og:type" content="website" />

    <meta name="license" content="AGPL-3.0-or-later" />

    <meta name="color-scheme" content="dark" />
    <meta name="theme-color" content="black" />

    <link rel="icon" type="image/png" href="/pain.png" />
</head>
<body>
    <header>
    <h1>{{ title | safe }}</h1>
    </header>
    <main>
        {{ content | safe }}
    </main>
</body>

<hr>
<footer style="margin-top: auto; padding: 2em 1em; text-align: center; border-top: 1px solid var(--outline-variant); color: var(--on-surface-variant);">

    <div style="display: flex; justify-content: center; gap: 2em; margin-bottom: 1.5em; flex-wrap: wrap;">

        <a href="/">
            Home
        </a>

        <a href="/jjj333_p" >
            jjj333_p
        </a>

        <a href="/legal">
            Legal
        </a>

        <a href="/legal/tos">
            Terms of Service
        </a>

        <a href="/legal/coc">
            Code of Conduct
        </a>
        
    </div>

</footer>

</html>